.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-5);
  padding-right: var(--space-5);
}

.small {
  max-width: 640px;
}

.medium {
  max-width: 768px;
}

.large {
  max-width: 1200px;
}

.full {
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding-left: var(--space-10);
    padding-right: var(--space-10);
  }
}
